{%extends "index.html"%}

{%block content%}

<div class="container">
  <div class="row justify-content-md-center">
            <p> Последнее обновление: {{ current_date }}</p>
              </div>
  <div class="row justify-content-md-center">
  <div class="col col-lg-5">
    <h1>Погода</h1>
    <form action="/collect_info/city" method="post">
                    <td class="text-center">
                        <input type="text" placeholder="Город" name="city" style="width: 70%;">
                        <p></p>
                    </td>
                    <td class="text-center">
                         <input type=hidden value= name="link" />
                        <input class="btn btn-secondary" type="submit" value="Запросить погоду">
                    </td>
                </form>
    {%if weather == False%}
      <p>Данные не доступны</p>
    {%else%}
        <p> Город {{weather.name}}</p>
        <p> Температура {{weather.main.temp}} градусов по Цельсию</p>
        <p> Влажность {{weather.main.humidity}}%</p>
        <p> Ветер {{weather.wind.speed}} м/с</p>
        <p> {{weather.weather[0].description}}</p>
    {%endif%}
   </div>
    <div class="col col-lg-5">
    {%if covid == False%}

      <h1>Статистика Covid-19</h1>
      <p>Данные не доступны</p>
    {%else%}

        <h1>Статистика Covid-19 </h1>
        <p> Заболело {{covid.confirmed}}</p>
        <p> Выздоровили {{covid.recovered}} </p>
        <p> В тяжолом состоянии {{covid.critical}}</p>
        <p> Умерло {{covid.deaths}}</p>
        <p> Последнее обновление {{covid.lastUpdate}}</p>
      {%endif%}

  </div>

{%endblock%}